name: Integration

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ] 

permissions:
  contents: read

jobs:
  code_check:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install black
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Format with Black
      run: |
        black .


  unit_test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 pytest
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Test with pytest
      run: |
        pytest -v


  docker_image:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Get timestamp
      id: timestamp
      run: echo "::set-output name=timestamp::$(date +%s)"
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag afod3v/calendar-app:${{ steps.timestamp.outputs.timestamp }}
    - name: Login into DockerHub
      run: echo "${{secrets.DOCKER_PASSWORD}}" | docker login -u ${{secrets.DOCKER_USER}} --password-stdin
    - name: Push into DockerHub
      run: docker push afod3v/calendar-app:${{ steps.timestamp.outputs.timestamp }}

  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Use Node 12
        uses: actions/setup-node@v1
        with:
          node-version: 12.x

      - name: Install packages
        run: yarn install --frozen-lockfile

      - name: Run tests
        run: yarn test

      - name: Install Railway
        run: npm i -g @railway/cli

      - name: Deploy
        run: railway up
        env:
          RAILWAY_TOKEN: ${{secrets.RAILWAY}}